.main-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.form-to-add {
	width: 250px;
	text-align: center;
	padding: 20px 20px;
	background-color: #cccccc;
	border-radius: 15px;
	margin-right: 20px;
}

.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.form-to-add input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.form-to-add select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.form-to-get {
	width: 450px;
	text-align: center;
	padding: 20px 20px;
	background-color: #cccccc;
	border-radius: 15px;
}